@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* General Settings */

:root {
   --_font-titles: 'Raleway', sans-serif;
   --_font-paragraphs: 'Open Sans', sans-serif;

   --intro-and-email-sign-up-background: hsl(217, 28%, 15%);
   --menu-nav-li-hover: hsl(217, 28%, 20%);
   --main-background: hsl(218, 28%, 13%);
   --footer-background: hsl(216, 53%, 9%);
   --testimonials-background: hsl(219, 30%, 18%);
   --error-message-email: hsl(0, 100%, 63%);

   --btn-gradient-first-color: hsl(176, 68%, 64%);
   --btn-gradient-second-color: hsl(198, 60%, 50%);

   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
}

* {
   padding: 0;
   margin: 0;
   list-style-type: none;
   text-decoration: none;
   color: #000;
}

.logo img {
   width: 130px;
}

h1, h2, h3, h4 {
   font-family: var(--_font-titles);
   font-weight: 600;
   color: var(--white);
}

h1 {
   font-size: 2.5em;
   line-height: 45px;
}

h2 {
   font-size: 1.5em;
}

h3 {
   font-size: 2.5em;
}

h4 {
   font-size: 2em;
}

p {
   font-size: 1.1em;
   font-family: var(--_font-paragraphs);
   color: var(--white);
   font-weight: 300;
}

/* Menu Nav */

.header-top-page {
   background-color: var(--intro-and-email-sign-up-background);
}

.header-top-page .menu-nav-bar {
   max-width: 1200px;
   margin: 0 auto;
   padding: 2em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu-trigger i {
   color: var(--white);
   font-size: 2em;
   cursor: pointer;
   display: none;
}

.menu-nav-bar ul {
   display: flex;
}

.menu-nav-bar ul li a {
   padding: 1em 1.3em;
   color: var(--white);
   font-family: var(--_font-paragraphs);
   font-weight: 400;
   border-radius: 10px;
   transition: all .2s;
   display: block;
}

.menu-nav-bar ul li a:hover {
   background-color: var(--menu-nav-li-hover);
}

/* Menu Trigger */

.menu-nav-bar ul.open li a {
   border-radius: 0;
}

.menu-nav-bar ul.open li:last-child a {
   border-radius: 10px;
}

/* Main Container */

#container {
   background-color: var(--main-background);
}

.heading-page {
   background-color: var(--intro-and-email-sign-up-background);
   background-image: url(../images/bg-curvy-desktop.svg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
}

.heading-page-content {
   max-width: 800px;
   margin: 0 auto;
   padding: 4em 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2em;
   text-align: center;
}

.heading-page-content .heading-page-illustration {
   width: 100%;
}

.heading-page-content .heading-page-illustration img {
   width: 100%;
}

.heading-page-content .heading-page-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5em;
}

.heading-page-content .heading-page-description p {
   max-width: 550px;
}

.get-started {
   padding: 1em 5em;
   border-radius: 30px;
   border: none;
   color: var(--white);
   font-size: 1.1em;
   font-weight: 600;
   background: linear-gradient(90deg, var(--btn-gradient-first-color), var(--btn-gradient-second-color));
   cursor: pointer;
   transition: all .2s;
}

.get-started:hover {
   opacity: .8;
   scale: 1.05;
}

/* Sections */
/* Benefits */

.section-content {
   max-width: 1200px;
   margin: 0 auto;
   padding: 4em 1em;
}

.benefits-content {
   display: flex;
   gap: 8em;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.benefits-content .benefits-box {
   width: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 1.5em;
}

.benefits-box .benefit-img {
   height: 80px;
}

.benefits-box .benefit-img img {
   width: 100%;
}

.benefits-box .benefit-description {
   display: flex;
   flex-direction: column;
   gap: .8em;
}

/* Stay Productive */

.stay-productive-content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3em;
}

.stay-productive-content .stay-productive-illustration {
   width: 55%;
}

.stay-productive-content .stay-productive-illustration img {
   width: 100%;
}

.stay-productive-content .stay-productive-description {
   width: 45%;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.stay-productive-content .stay-productive-description h3 {
   margin-bottom: .3em;
}

.stay-productive-description .how-fylo-works {
   display: flex;
   align-items: center;
   padding: .3em 0;
   margin-top: .4em;
   border-bottom: 1px solid var(--btn-gradient-first-color);
   width: 190px;
   transition: all .2s;
}

.stay-productive-description .how-fylo-works:hover {
   opacity: .9;
}

.stay-productive-description .how-fylo-works:hover img {
   margin-left: .3em;
}

.stay-productive-description .how-fylo-works span {
   color: var(--btn-gradient-first-color);
   font-family: var(--_font-paragraphs);
   margin-right: .5em;
}

.stay-productive-description .how-fylo-works img {
   width: 18px;
   transition: all .2s;
}

/* Quotes */

.quotes-content {
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
   gap: 3em;
   background-image: url(../images/bg-quotes.png);
   background-repeat: no-repeat;
   background-position: 0 30px;
}

.quotes-content .quotes-box {
   width: 320px;
   background-color: var(--testimonials-background);
   padding: 2em 1.5em;
   display: flex;
   flex-direction: column;
   gap: 1.5em;
}

.quotes-box .quotes-text p {
   font-size: 1em;
   word-break: break-all;
}

.quotes-box .quotes-profile {
   display: flex;
   align-items: center;
   margin-top: auto;
   gap: 1em;
}

.quotes-box .quotes-profile img {
   width: 35px;
   border-radius: 50%;
}

.quotes-profile .quotes-profile-name {
   display: flex;
   flex-direction: column;
   gap: .2em;
}

.quotes-profile .quotes-profile-name a,
.quotes-profile .quotes-profile-name span {
   color: var(--white);
   font-family: var(--_font-paragraphs);
}

.quotes-profile .quotes-profile-name a {
   font-size: 1em;
   font-weight: 600;
}

.quotes-profile .quotes-profile-name span {
   font-size: .8em;
   font-weight: 300;
}

/* Early Access */

.early-access {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   background-color: var(--intro-and-email-sign-up-background);
   padding: 3em;
   border-radius: 15px;
   box-shadow: 1px 1px 15px rgba(0, 0, 0, .4);
   translate: 0 100px;
}

.early-access-description {
   display: flex;
   flex-direction: column;
   gap: 1em;
   text-align: center;
}

#early-access-form {
   width: 100%;
}

#early-access-form .form-group {
   display: flex;
   width: 100%;
   gap: 1em;
   margin-bottom: 2px;
}

#early-access-form .form-group input {
   width: 70%;
   border-radius: 30px;
   padding: 1em 2em;
   font-size: 1em;
}

#early-access-form .form-group .get-started {
   width: 30%;
   padding: 1em;
   font-size: 1em;
}

#early-access-form .form-group .get-started:hover {
   scale: 1;
}

#early-access-form #invalid-email {
   font-family: var(--_font-paragraphs);
   color: var(--error-message-email);
   font-size: 1em;
   margin-left: 20px;
   text-decoration: underline;
   transition: all .1s;
}

/* Footer */

.footer {
   background-color: var(--footer-background);
}

.footer .footer-content {
   max-width: 1200px;
   margin: 0 auto;
   padding: 12em 1em 4em 1em;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.footer-content .footer-infos {
   display: flex;
   justify-content: space-between;
}

.footer-infos .footer-contact {
   width: 50%;
   display: flex;
   gap: 1em 3em;
}

.footer-contact .location {
   align-items: flex-start!important;
}

.footer-contact .location i {
   margin-top: 6px;
}

.footer-contact .location,
.footer-contact .footer-phone-number,
.footer-contact .footer-email {
   display: flex;
   align-items: center;
   gap: 1em;
}

.footer-contact i {
   color: var(--white);
   font-size: 1.2em;
}

.footer-contact p {
   font-size: 1em;
}

.footer-contact .phone-email {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.footer-infos .footer-policies,
.footer-infos .footer-social-medias {
   width: 20%;
}

.footer-infos .footer-policies {
   display: flex;
   justify-content: space-between;
}

.footer-infos .footer-policies ul {
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.footer-infos .footer-policies ul li a {
   font-size: 1em;
   font-family: var(--_font-paragraphs);
   color: var(--white);
}

.footer-infos .footer-policies ul li a:hover {
   text-decoration: underline;
}

.footer-infos .footer-social-medias {
   display: flex;
   gap: 1em;
}

.footer-infos .footer-social-medias i {
   font-size: 1.4em;
   color: var(--white);
   padding: .6em;
   border: 1px solid #fff;
   border-radius: 50%;
   transition: all .2s;
}

.footer-infos .footer-social-medias a:hover i {
   color: var(--btn-gradient-first-color);
   border-color: var(--btn-gradient-first-color);
}

/* Mobile */

@media(max-width: 1200px) {
   .footer-infos .footer-contact {
      flex-direction: column;
   }
}

@media(max-width: 1000px) {
   .footer-content .footer-infos {
      flex-direction: column;
      align-items: center;
      gap: 4em;
   }

   .footer-infos .footer-contact,
   .footer-infos .footer-policies,
   .footer-infos .footer-social-medias {
      width: 90%;
   }

   .footer-infos .footer-policies {
      justify-content: space-around;
   }

   .footer-infos .footer-social-medias  {
      justify-content: center;
   }
}

@media(max-width: 950px) {
   .benefits-content .benefits-box {
      width: 100%;
   }

   .stay-productive-content {
      flex-direction: column;
   }

   .stay-productive-content .stay-productive-illustration,
   .stay-productive-content .stay-productive-description {
      width: 90%;
   }

   .early-access {
      max-width: 100%;
      margin: 0 1em;
   }
}

@media(max-width: 815px) {
   h1, h2 {
      font-size: 2em;
   }
      
   .heading-page-content {
      max-width: 100%;
   }
   
   .heading-page-content .heading-page-illustration {
      width: 90%;
   }

   .heading-page-content .heading-page-description p {
      max-width: 90%;
   }

   .get-started {
      padding: 1em 0;
      width: 90%;
   }

   .early-access {
      padding: 3em 1em;
   }

   #early-access-form .form-group {
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   #early-access-form .form-group input,
   #early-access-form .form-group .get-started {
      width: 90%;
      padding: 1em;
   }

   .quotes-content {
      background-position: 2% 30px;
   }

   .quotes-content .quotes-box {
      width: 90%;
   }
}

@media(max-width: 700px) {
   .menu-nav-bar ul {
         position: absolute;
         top: 106.41px;
         left: 0;
         background-color: var(--main-background);
         flex-direction: column;
         width: 100%;
         align-items: center;
         border-radius: 0 0 10px 10px;
         display: flex;
         transform: rotateX(90deg);
         opacity: 0;
         transform-origin: top;
         transition: all .2s;
   }

   .menu-nav-bar ul.open {
      transform: rotateX(0deg);
      opacity: 1;
   }

   .menu-trigger i {
      display: block;
   }
}